<section id="about" class="pink">
        <div class="narrow">
                <h2 class="heading">About me</h2>
                <div id="about">
                        ​I am a pragmatic, analytical thinker <br>
                        who loves the challenge of solving complex problems.<br>
                        <br>

                        I gained my experience working as an analyst and project manager in the telco industry for the first 7 years of my
                        career. My path to working with UX & UI designs started in 2013 when I co-founded a mobile app company, where we
                        worked
                        mostly with kids apps.
                        Analysing data about users behavior, managing remote and onsite test and making conclusions to bring the most
                        intuitive
                        UI was great dive into UX.
                        During the last year I’ve started to freelance in the field of user experience. That brought me several important
                        projects in the area of mobile and web design.
                </div>
        </div>
</section>