{{ $experience := .Site.Data.experience }}

<section id="experience" class="green">
  <div class="narrow">

    <h2 class="heading">{{ $experience.title }}</h2>
    <div id="timeline">
      {{ range $index, $element := $experience.experience }}
      <div class="timeline-item clearfix">
        <div class="timeline-icon"></div>

        <div class="timeline-content {{ if eq (mod $index 2) 0 }} right {{ end }}">
          <span class="date">{{ $element.timeperiod }}</span>
          <h6 class="h4 my-2">{{ $element.company }}</h6>
          <p class="heading">{{ $element.description }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>